# base de datos
DB_HOST=localhost
DB_NAME=rentify
DB_USER=user_example
DB_PASSWORD=example_password

PREFIX=wp_prefix_

# Docker Compose
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=example_password
WORDPRESS_DB_NAME=example_db
